.page-home {
  .btn-primary {
    --border-radius: 6px;
    border-radius: var(--border-radius);
    background-image: linear-gradient(91.25deg, #80FFA4 0%, #04C93C 100%);
    border: none;
    text-decoration: none;
    padding: 1px;
    width: 100%;
    cursor: pointer;
    
    * {
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%), linear-gradient(0deg, #04C93C, #04C93C), ;
      width: 100%;
      height: 56px;
      padding: 12px 24px;
      border-radius: var(--border-radius);
      color: #FFFFFF;
      font-weight: 500;
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
  }

  .starline-header {
    --header-size: fit-content;
    --nav-size: 98px;
    background-image: url(../img/bg/bg-header.webp?v=0.0.0.8);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: var(--header-size);
    height: fit-content;
    padding-bottom: 80px;
    @media screen and (max-width: 992px) {
      background-position: 50%;
    }

    @media screen and (max-width: 768px) {
      background-image: url(../img/bg/bg-header-mobile.webp?v=0.0.0.8);
    }

    @media screen and (max-width: 540px) {
      --header-size: 60vh;
      background-position: bottom;
    }

    &__content {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      height: fit-content;

      @media screen and (max-width: 991px) {
        align-items: flex-start;
        justify-content: center;
      }
    }

    &__offer {
      max-width: 100%;
      @media screen and (min-width: 1200px) {
        max-width: 28%;
      }

      @media screen and (max-width: 540px) {
        justify-content: center;
      }
      
      &__speed {
        font-size: 186px;
        color: #FFFFFF;
        line-height: 80%;
        letter-spacing: 0%;
        font-weight: 700;
        position: relative;
        width: fit-content;
        margin-bottom: 0; 
        @media screen and (max-width: 540px) {
          font-size: 116px;
          margin-top: 40px;
          margin-right: auto;
          margin-left: auto;
        }

        span {
          background-color: #D04F9C;
          border-radius: 4px;
          padding: 5px 6px;
          font-size: 24px;
          font-weight: 700;
          color: #3F0D4E;
          line-height: 18px;
          text-align: center;
          height: 24px;
          width: 76px;
          position: absolute;
          top: 50%;
          right: -30px;
          transform: translateY(-50%);
          display: flex;
          align-items: center;
          justify-content: center;
          @media screen and (max-width: 540px) {
            font-size: 20px;
          }
        }
      }

      &__price {
        font-size: 120px;
        font-weight: bold;
        color: #FFFFFF;
        text-align: center;
        position: relative;
        height: fit-content;
        width: fit-content;
        padding-inline: 110px;

        @media screen and (max-width: 540px) {
          padding-inline: 80px;
          font-size: 90px;
          margin: 0 auto;
        }

        &-tag {
          background-color: #D04F9C;
          border-radius: 4px;
          padding: 4px 10px;
          font-size: 18px;
          font-weight: 400;
          color: #fff;
          text-align: center;
          width: fit-content;
          position: absolute;
          left: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          @media screen and (max-width: 540px) {
            font-size: 16px;
            padding: 4px 8px;
          }
        }

        &-symbol {
          font-size: 30%;
          margin-right: 4px;
          position: absolute;
          top: 60%;
          left: 3%;
          transform: translateY(-60%);
        }

        &-cents {
          font-size: 30%;
          position: absolute;
          right: 8%;
          .pink { display: block; color: #FF66B2; font-weight: 400; font-size: 20px; }
        }

        &-tag,
        &-cents {
          top: 17%;
        }
      }

      &__navigation {
        border: 0.5px solid #FFFFFF;
        border-radius: 4px;
        font-size: 13px;
        color: #FFFFFF;
        padding: 4px 16px;
        width: fit-content;
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        span { margin-inline: 10px;}
        .pink {  font-size: 26px; color: #D04F9C; font-weight: 600; }

        @media screen and (min-width: 1300px) {
          font-size: 15px;
        }

        @media screen and (max-width: 991px) {
          font-size: 16px;
          .pink { font-size: 20px;}
        }

        @media screen and (max-width: 540px) {
          font-size: 14px;
          padding: 4px 16px;
          margin-right: auto;
          margin-left: auto;
          .pink { font-size: 18px;}
        }
      }
    }
  }

  .advantages-bar {
    background-color: #fff;
    min-height: 155px;

    &__content {
      padding-top: 40px;
      padding-bottom: 40px;
      display: grid;
      align-items: center;
      grid-template-columns: repeat(4, 1fr);
      gap: 40px;
    }

    &__item {
      border: 1px solid #D04F9C;
      border-radius: 8px;
      padding: 16px;
      font-weight: 500;
      color: #3C3C3C;
      font-size: 16px;
      display: flex;
      align-items: center;
      height: 72px;
      width: 300px;

      i {color: #D04F9C; font-size: 24px; margin-right: 20px; }
    }
  }

  .section-plans {
    background-image: url(../img/bg/bg-section-plans.webp?v=0.0.0.8);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .starline-section__title { color: #FFFFFF; } 
    
    &__selector {
      background-image: linear-gradient(164.61deg, #CA057B 1.36%, rgba(201, 19, 127, 0.5) 67.76%, #C72184 135.45%);
      padding: 1px;
      border-radius: 50px;
      width: fit-content;
      margin: 0 auto;
      margin-block: 60px;

      &-switch {
        background-color: rgba(74, 14, 87, 0.66);
        padding: 10px;
        border-radius: 50px;

        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;


        &__item {
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0%;
          text-align: center;
          color: #FFFFFF80;
          text-transform: uppercase;
          border-radius: 25px;
          padding: 8px 16px;
          min-width: 171px;
          cursor: pointer;
          transition: background-color .5s cubic-bezier;

          &.active {
            background-color: #F7FAFD;
            color: #C72184;
            font-weight: 700;
          }
        }
      }
    }

    &__plans {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
      transition: all .8s ease-in-out;

      @media screen and (max-width: 1200px) {
        grid-template-columns: repeat(2, 1fr) !important;
      }

      @media screen and (max-width: 600px) {
        grid-template-columns: 1fr !important;
      }

      &-item {
        background-image: linear-gradient(164.61deg, #CA057B 1.36%, rgba(201, 19, 127, 0.5) 67.76%, #C72184 135.45%);
        border-radius: 8px;
        padding: 1px;
        transition: all .8s ease-in-out;
        --item-margin-bottom: 20px;
        
        &__content {
          background-color: #520e5d;
          border-radius: 8px;
          padding: 35px;
          height: 100%;
          @media screen and (max-width: 1400px) {
            padding: 20px;
          }
        }

        &__price-text, &__type {
          font-size: 12px;
          font-weight: 700;
          color: #FFFFFF;
          text-align: center;
          margin-bottom: var(--item-margin-bottom);
          display: block;
        }

        &__price-text {
          font-weight: 400;
          text-align: center;
        }

        &__speed {
          background-color: #CA057B;
          border-radius: 8px;
          padding: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #fff;
          font-size: 48px;
          margin-bottom: var(--item-margin-bottom);
        }

        &__price {
          font-size: 80px;
          font-weight: bold;
          color: #FFFFFF;
          text-align: center;
          position: relative;
          height: fit-content;
          width: fit-content;
          width: 100%;
          display: flex;
          justify-content: center;
          margin-bottom: var(--item-margin-bottom);

          &-symbol {
            font-size: 30%;
            padding-top: 10px;
            margin-right: 10px;
          }
          
          &-cents {
            font-size: 30%;
            padding-top: 10px;
            margin-right: 10px;
            .pink { display: block; padding-left: 8px; color: #D04F9C; font-weight: 400; font-size: 20px; }
          }
        }

        .btn-primary {
          width: 100%;
          margin-bottom: var(--item-margin-bottom);
        }

        &__info {
          font-weight: 400;
          font-size: 16px;
          line-height: 36px;
          text-align: center;
          color: #FFFFFF;
          line-height: normal;
        }
      }
    }
  }

  .section-why-starline {
    background-color: #FFFFFF;
    .grid {
      display: grid;
      align-items: center;
      grid-template-columns: 0.7fr 1fr;

      @media screen and (max-width: 1200px) {
        grid-template-columns: 1fr;
      }
    }

    &__img-bg {
      @media screen and (max-width: 1200px) {
        width: 100%;
        height: auto;
        order: 1;
      }
    }

    .advantages-bar {
      @media screen and (max-width: 1200px) {
        order: 0;
      }
      &__content {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr;
        padding-top: 40px;
        padding-bottom: 40px;
        gap: 40px;

        @media screen and (max-width: 1200px) {
          padding-top: 20px;
          padding-bottom: 20px;
          gap: 20px;
        }
      }

      &__item {
        height: 96px;
        width: 100%;

        i { font-size: 32px; font-weight: 300; }

        &-title {
          display: block;
          font-size: 18px;
          font-weight: 700;
          color: #3C3C3C;
          margin-bottom: 5px;
        }
      }
    }
  }

  .section-contact {
    background-color: #F2F2F2;
    .gap-2 { gap: 20px; }
    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 40px;

      @media screen and (max-width: 1200px) {
        grid-template-columns: 1fr;
      }
    }

    &__info { padding-top: 30px; }

    @media screen and (max-width: 1200px) {
      &__form { order: 1;}
      &__info { order: 0;}
    }

    .starline-section__title {
      margin-bottom: 40px;
    }

    &__info-card {
      background-color: #C721840A;
      padding: 24px 16px;
      &__text, &__title {
        font-weight: 600;
        font-size: 18px;
        letter-spacing: 0%;
        color: #3C3C3C;
      }
      &__text {
        font-weight: 400;
        i { color: #C72184; margin-right: 10px; } 
      }
    }
  }
}